<!--<a href={% url 'nathmankindscrumy:index' %}>Index Page</a>-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
<p>Welcome, please enter your login details</p>
{% if form.errors %}<p>Invalid Login credentials</p>{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
<p><a href={% url 'nathmankindscrumy:signup' %}>Sign Up</a> to create a new account</p>
</body>

</html>